.movie-detail {
  padding-top: 25px;
  width: 80%;
  margin: auto;

  .detail-wrapper {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: rgb(15, 12, 41);
    background: rgb(33, 33, 33);
    background: linear-gradient(
      220deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1) 90%
    );
    border: 1px solid #fff;

    img {
      width: 100%;
      object-fit: cover;
      z-index: -2;
    }
    .detail-text {
      color: #0f0c29;
      z-index: 1;
      position: absolute;
      bottom: 30px;
      padding-left: 25px;
      width: 50%;
    }
    .title {
      font-size: 45px;
      font-weight: 900;
      vertical-align: middle;

      span {
        text-transform: uppercase;
        background: #ee7b30ff;
        color: rgb(81, 37, 8);
        font-size: 18px;
        font-weight: 500;
        margin-left: 15px;
        padding: 5px;
        border-radius: 3px;
        vertical-align: 40%;
      }
    }

    .date {
      font-weight: 600;
      padding: 5px 0;
    }
    .trailer {
      margin-top: 10px;
      i {
        font-size: 35px;
        vertical-align: middle;
      }

      span {
        margin-left: 5px;
        vertical-align: middle;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
  .about-movie {
    margin: 40px;
    border-radius: 5px;
    border: 1px solid #1e1b3d;
    padding: 15px;
    p {
      padding: 0 50px;
    }
  }
  .actor-container {
    margin: 40px;
    border: 1px solid #0f0c29;
    border-radius: 5px;
    padding: 15px;
  }
  .movie-actor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-top: 25px;
    align-items: center;
    justify-content: flex-start;
  }

  .actor {
    padding: 15px;
  }
}
