.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    margin: auto;
  }
  