.navbar {
  color: #fff;
  padding: 20px 0px;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
 

  .innerNav {
    display: flex;
    align-items: center;
    margin: 5px 20px auto;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
  }
  .menu {
    list-style: none;
    display: flex;

    li {
      color: #fff;
      text-decoration: none;
      margin: 0 1em;
      transition: color 0.3s ease-in-out;
      font-size: 20px;

      &:hover {
        color: #ee7b30ff;
      }
    }
  }
}
