.favorite-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding-top: 50px;
  border-radius: 5px;
  width: 80%;
  margin: auto;

  .not-favorite{
    font-size: 30px;
    margin-top: 100px;
  }

}

