.input-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    overflow: hidden;
    background-image: url(/src/assets/image/wallpaper.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }
  
  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: linear-gradient(
      to right,
      rgba(15, 12, 41, 1),
      rgba(48, 43, 99, 0.5),
      rgba(15, 12, 41, 1)
    );
  }
  
  .input-container .search input {
    width: 900px;
    height: 45px;
    border-radius: 10px;
    transition: 300ms;
    padding: 5px 15px;
  }
  input::placeholder {
    color: #0f0c29;
  }
  .input-container .search input:focus {
    border: none;
    box-shadow: border-box;
    transform: scale(1.1);
    transition: 300ms;
  }
  
  .search-button {
    background: rgba(15, 12, 41, 1);
    position: absolute;
    margin-left: -62px;
    margin-top: 1px;
    border-radius: 12px;
    height: 42px;
    border: none;
    padding: 12px;
    color: #fff;
    opacity: 0;
    display: none;
  }
  .input-header {
    color: #ee7b30ff;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 3px 0 #181818, 1px 5px 5px #1b1b1b;
  }
  