.login-container{
    position: absolute;
    top:50%;
    left:50%;
    width:450px;
    height: 45  0px;
    padding:40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius:15px;
    display: flex;
    flex-direction: column;

   .error-message{
    margin: 30px;
    color: orangered;
   }

    h2{
        margin: 0 30px;
        text-transform: uppercase;
        padding:0;
        color:#fff;
        text-align: center;
      }
      
      .user-box{
        position: relative;

        input{
            width:100%;
            padding:10px 0;
            font-size:16px;
            color:#fff;
            margin-bottom:30px;
            border:none;
            border-bottom:1px solid #fff;
            outline:none;
            background: transparent;
          }

          label{
            position: absolute;
            top:0;
            left:0;
            padding:10px 0;
            font-size:16px;
            color:#fff;
            pointer-events: none;
            transition:.5s;
          }
      }

      form .btn-login{
        position:relative;
        display: inline-block;
        padding: 10px 20px;
        color:#03e9f4;
        font-size:16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top:10px;
        letter-spacing:5px;
        border-radius: 5px;
        background-color: #575555;
      }
      .btn-login:hover{
        background: #000000;
        border-radius:7px;
        box-shadow:0 0 5px #03e9f4,
      }

      .road-sign{
        font-size: 20px;
        margin-top: 10px;
    
        span{
            color: orange;
        }
      }

      .formik-eror{
        color: orangered;
        font-size: 15px;
        margin-top: 0px;
       
      }
      
      
  } 

  .login-container .user-box input:focus ~ label,
  .login-container .user-box input:valid ~ label{
    top:-20px;
    left:0;
    color:#a3dde0;
    font-size:12px;
  }

  

  